############################
# Visual Studio
############################
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################
# Build folders
############################
bin/
obj/
Debug/
Release/

############################
# ASP.NET
############################
wwwroot/lib/

############################
# Node / Angular
############################
node_modules/
dist/
.angular/
.angular/cache/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

############################
# Environment files
############################
.env
.env.*

############################
# Backend credentials
############################
**/appsettings.Development.json
**/appsettings.Production.json
**/appsettings.Staging.json

############################
# Frontend environment files
############################
**/src/environments/environment.ts
**/src/environments/environment.prod.ts

############################
# VS Code
############################
.vscode/

############################
# Rider
############################
.idea/

############################
# OS files
############################
Thumbs.db
.DS_Store